.ticker {
  overflow: hidden;
  padding:0px;
  margin:0px;
}

.treadmill-unit {
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
}

.treadmill-unit .fa {
	padding: 2px;
	background-color: #eeeeee;
}
.treadmill-inner {
	padding-left:10px
}
.ticker li {
	border-bottom: 1px solid #eee;
	padding: 7px 0px;
}
.ticker .heading {
	font-size: 18px;
	line-height: 36px;
}
.ticker p {
	font-weight: normal;
	margin: 1px;
}